body{
    background-color: cyan;
    text-align: center;
}

.all_buttons{
    display:flex;
    gap:20px;
    justify-content: center;
}

.function_button{
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 25px;
}

.all_statistics{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table{
    margin: auto;
    min-width: 125px;
}